
DB_HOST=localhost
DB_PORT=5432
DB_USER=dev_db_user
DB_PASSWORD=dev_db_password
DB_NAME=dev_db_name
DB_SSLMODE=disable

DATABASE_URL_DEV=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=${DB_SSLMODE}&search_path=public
DATABASE_URL_TEST=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=${DB_SSLMODE}&search_path=public
DATABASE_URL_PROD=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=${DB_SSLMODE}&search_path=public

PORT=8090
GIN_MODE=debug

FRONTEND_ORIGIN=http://localhost:5173

